body{
    background: url("../img/background.jpg");
    background-attachment: fixed;
}

#logo{
    
       background: #235e3d; 
}

#menu ul li:hover{
    background: #235e3d;
}

.button{
   
    background: #235e3d; 
}

#acordeon h3{
    background: #235e3d;
    
}