body{
    background: url("../img/otono1.jpg");
    background-attachment: fixed;
}

#logo{
    
       background: #DF3A01; 
}

#menu ul li:hover{
    background: #DF3A01;
}

.button{
   
    background: #DF3A01; 
}