body{
    background: url("../img/otono1.jpg");
    background-attachment: fixed;
}

#logo{
    
       background: #DF3F00D9; 
}

#menu ul li:hover{
    background: #DF3F00D9;
}

.button{
   
    background: #DF3F00D9; 
}

#acordeon h3{
    background:  #DF3F00D9;
    
}